:host > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img img {
    max-width: 100%;
    margin-bottom: 20px;
    max-height: 80px;
}

.text-logo {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text-logo > span:first-child {
    margin-right: 20px;
}

.list {
    font-size: 1em;
    margin-bottom: 40px;
}

.list > span {
    font-weight: 600;
}

.list > ul {
    margin-top: 5px;
    list-style: none;
}

:host .hidden {
    display: none;
}

/* Progress bar*/

.progress-bar {
    position: relative;
    height: 30px;
    width: 90%;
    background: #2a292a;
    border-radius: 25px;
    margin-bottom: 25px;
    border: 1px solid white;
    overflow: hidden;
}

.progress-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 31%;
    animation: progress-forward 3s infinite;
    background: white;
    border-radius: 25px;
}

.progress-bar.percent31 .progress-fill {
    width: 31%
}

.progress-bar.percent5 .progress-fill {
    width: 5%
}

.progress-bar.percent1 .progress-fill {
    width: 1%
}